$icomoon-font-family: 'SP_iconfont' !default;
$icomoon-font-path: 'fonts' !default;

$icon-Code-Injection: '\e981';
$icon-codepen: '\e982';
$icon-facebook: '\e983';
$icon-mailchimp: '\e984';
$icon-medium: '\e985';
$icon-spotify: '\e986';
$icon-twitter: '\e987';
$icon-unsplash: '\e988';
$icon-vimeo: '\e989';
$icon-youtube: '\e98a';
$icon-zapier: '\e98b';
$icon-account_circle: '\e900';
$icon-account_supervisor_outline: '\e901';
$icon-add_image: '\e902';
$icon-all_caps: '\e903';
$icon-arrow_left: '\e904';
$icon-arrow_right: '\e905';
$icon-billing: '\e906';
$icon-bookmark: '\e907';
$icon-calendar_clock: '\e908';
$icon-calendar_month: '\e909';
$icon-chat: '\e90a';
$icon-check: '\e90b';
$icon-checkbox_blank_circle: '\e90c';
$icon-chevron_down: '\e90d';
$icon-chevron_left: '\e90e';
$icon-chevron_right: '\e90f';
$icon-chevron_up: '\e910';
$icon-clock_outline: '\e911';
$icon-clock: '\e912';
$icon-comment: '\e913';
$icon-cross-box: '\e914';
$icon-copy: '\e915';
$icon-cross_thin: '\e916';
$icon-cross: '\e917';
$icon-delete: '\e918';
$icon-desk: '\e919';
$icon-desktop-path1: '\e91a';
$icon-desktop-path2: '\e91b';
$icon-Disqus: '\e91c';
$icon-divider: '\e91d';
$icon-dots_horizontal: '\e91e';
$icon-dots_vertical: '\e91f';
$icon-down_arrow: '\e920';
$icon-draft-path1: '\e921';
$icon-draft-path2: '\e922';
$icon-edit_meta: '\e923';
$icon-email_outline: '\e924';
$icon-email: '\e925';
$icon-file_document_edit_outline: '\e926';
$icon-file_edit_outline: '\e927';
$icon-file_replace_outline: '\e928';
$icon-filter: '\e929';
$icon-focal_point: '\e92a';
$icon-focus: '\e92b';
$icon-font: '\e92c';
$icon-for_review: '\e92d';
$icon-format_align_center: '\e92e';
$icon-format_align_left: '\e92f';
$icon-format_align_right: '\e930';
$icon-format_bold: '\e931';
$icon-format_italics: '\e932';
$icon-format_line_spacing: '\e933';
$icon-format_underline: '\e934';
$icon-fountain_pen_tip: '\e935';
$icon-gallery: '\e936';
$icon-H1: '\e937';
$icon-H2: '\e938';
$icon-help_circle_outline: '\e939';
$icon-history: '\e93a';
$icon-home_outline: '\e93b';
$icon-html_embed: '\e93c';
$icon-image: '\e93d';
$icon-info: '\e93e';
$icon-justify_expand: '\e93f';
$icon-justify_fill: '\e940';
$icon-justify_fit: '\e941';
$icon-link_variant: '\e942';
$icon-link: '\e943';
$icon-list_bullet: '\e944';
$icon-list_number: '\e945';
$icon-lock: '\e946';
$icon-logomark_L-path1: '\e947';
$icon-logomark_L-path2: '\e948';
$icon-logomark_L-path3: '\e949';
$icon-logomark_s-path1: '\e94a';
$icon-logomark_s-path2: '\e94b';
$icon-logomark_s-path3: '\e94c';
$icon-logout: '\e94d';
$icon-lower_caps: '\e94e';
$icon-magnify: '\e94f';
$icon-menu: '\e950';
$icon-mobile-path1: '\e951';
$icon-mobile-path2: '\e952';
$icon-page_colour-path1: '\e953';
$icon-page_colour-path2: '\e954';
$icon-page_elements: '\e955';
$icon-pencil_outline: '\e956';
$icon-pencil: '\e957';
$icon-plus_circle_outline: '\e958';
$icon-plus_circle: '\e959';
$icon-plus: '\e95a';
$icon-preview: '\e95b';
$icon-publications: '\e95c';
$icon-quote: '\e95d';
$icon-redo: '\e95e';
$icon-refresh: '\e95f';
$icon-reviewed: '\e960';
$icon-rocket: '\e961';
$icon-save: '\e962';
$icon-saving-path1: '\e963';
$icon-saving-path2: '\e964';
$icon-send_outline: '\e965';
$icon-send: '\e966';
$icon-SEO: '\e967';
$icon-settings: '\e968';
$icon-share_variant: '\e969';
$icon-star_outline: '\e96a';
$icon-star: '\e96b';
$icon-strikethrough: '\e96c';
$icon-svg: '\e96d';
$icon-swap_horizontal_variant: '\e96e';
$icon-swap_photo: '\e96f';
$icon-tablet-path1: '\e970';
$icon-tablet-path2: '\e971';
$icon-tag: '\e972';
$icon-templates: '\e973';
$icon-text_colour-path1: '\e974';
$icon-text_colour-path2: '\e975';
$icon-text_hover_colour-path1: '\e976';
$icon-text_hover_colour-path2: '\e977';
$icon-text: '\e978';
$icon-tick: '\e979';
$icon-time: '\e97a';
$icon-transit_connection_variant: '\e97b';
$icon-undo: '\e97c';
$icon-up_arrow: '\e97d';
$icon-upload: '\e97e';
$icon-users: '\e97f';
$icon-web: '\e980';
